
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-size: 16px;
}

.main-ctn {
  width: 500px;
  padding-top: 50px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.primary-btn {
  padding: 6px 10px;
  color: #fff;
  background: #000;
}