
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-size: 16px;
}

.main-ctn {
  max-width: 500px;
  padding: 20px;
  padding-top: 50px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-submit {
  padding: 5px 10px;
  background: rgb(45, 45, 139);
  color: #fff;
}

.primary-btn {
  padding: 6px 10px;
  color: #fff;
  background: #000;
}

.task {
  background: rgb(166, 194, 202);
  padding: 5px;
  margin: 7px 0;
  user-select: none;
}

.task.reminder {
  border-left: 4px solid green;
}

.task-header {
  display: flex;
  justify-content: space-between;
}

.add-form {
  margin: 10px 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 5px 0;
}

.form-control input {
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
}

.add-form .btn-submit {
  width: 100%;
  height: 35px;
}

.form-control input[type=checkbox] {
  width:25px;
}